 <form #createBookForm="ngForm" novalidate>
  <div class="alert alert-danger" [hidden]="isbn.valid || isbn.pristine">
    <p>Bitte geben Sie eine ISBN ein!</p>
  </div>
  <div class="form-group">
    <label for="isbn" class="control-label">ISBN</label>
    <input
      [(ngModel)]='book.isbn' required minlength="8" #isbn="ngModel"
      id="isbn" name="isbn" class="form-control" placeholder="ISBN">
  </div>
  <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
    <p>Bitte geben Sie einen Titel ein!</p>
  </div>
  <div class="from-group">
    <label for="title" class="control-label">Title</label>
    <input
      [(ngModel)]="book.title" required #title="ngModel"
      id="title" name="title" class="form-control" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="description" class="control-label">Description</label>
    <textarea
      [(ngModel)]='book.description'
      id="description" name="description" class="form-control"
      placeholder="Description"></textarea>
  </div>
  <div class="form-group">
    <div class="alert alert-danger" [hidden]="createBookForm.valid || createBookForm.pristine">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      Es ist ein Fehler aufgetreten.
    </div>
  </div>
  <div class="form-group">
    <button (click)="add(); createBookForm.reset()" class="btn btn-danger"
      [disabled]="!createBookForm.valid">speichern</button>
  </div>
 </form>
