<div *ngIf="!formValid"
      class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  Irgendwas fehlt!
</div>

<div class="form">
  <div class="form-group">
    <div><label for="title">ISBN</label></div>
    <div><input class="form-control" name="title" #isbn></div>
  </div>
  <div class="form-group">
    <div><label for="title">Title</label></div>
    <div><input class="form-control" name="title" #title></div>
  </div>
  <div class="form-group">
    <div><label for="link">Description</label></div>
    <div><textarea class="form-control" name="description" #description></textarea></div>
  </div>
  <div class="form-group">
   <button (click)="add(isbn, title, description)" class="btn btn-danger">Submit</button>
  </div>
</div>
