.star1::before {
  content: 'Kein Stern!';
}

.star1::before {
  content: 'Ein Stern!';
}

.star2::before {
  content: 'Zwei Stern!';
}

.star3::before {
  content: 'Drei Stern!';
}

.star4::before {
  content: 'Vier Stern!';
}

.star5::before {
  content: 'Fünf Stern!';
}


